@model Imdb.Web.ViewModels.Admin.Administration.AddMovieInputViewModel
@{
    ViewData["Title"] = "Add Movie";

    var languages = Model.Languages.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
    var directors = Model.Directors.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<h1>@ViewData["Title"]</h1>

<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="@Model.Title"></label>
        <input asp-for="@Model.Title" class="form-control" />
        <span asp-validation-for="@Model.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Description"></label>
        <textarea asp-for="@Model.Description" class="form-control"></textarea>
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Duration"></label>
        <input asp-for="@Model.Duration" class="form-control" />
        <span asp-validation-for="@Model.Duration" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Gross"></label>
        <input asp-for="@Model.Gross" class="form-control" />
        <span asp-validation-for="@Model.Gross" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Budget"></label>
        <input asp-for="@Model.Budget" class="form-control" />
        <span asp-validation-for="@Model.Budget" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.ReleaseDate"></label>
        <input asp-for="@Model.ReleaseDate" class="form-control" />
        <span asp-validation-for="@Model.ReleaseDate" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="@Model.LanguageId"></label>
        <select asp-for="@Model.LanguageId" asp-items="@languages" class="form-control"></select>
        <span asp-validation-for="LanguageId" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="@Model.DirectorId"></label>
        <select asp-for="@Model.DirectorId" asp-items="@directors" class="form-control"></select>
        <span asp-validation-for="DirectorId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Image"></label>
        <input type="file" asp-for="@Model.Image" />
        <span asp-validation-for="@Model.Image" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>