@model Imdb.Web.ViewModels.Admin.Administration.OmdbSearchViewModel
@{
    ViewData["Title"] = "Add with Omdb";
}

<h1>@ViewData["Title"]</h1>

@if (this.TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" id="dialog">
        @this.TempData["ErrorMessage"] <a href="#" onclick="closeMessage()"><i class="fas fa-times"></i></a>
    </div>
}
<form asp-area="Admin" asp-controller="Administration" asp-action="AddWithOmdb" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="@Model.Title"></label>
        <input asp-for="@Model.Title" class="form-control" />
        <span asp-validation-for="@Model.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Year"></label>
        <input asp-for="@Model.Year" class="form-control" />
        <span asp-validation-for="@Model.Year" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-2">
        <button class="btn btn-dark" type="submit">Search</button>
    </div>
</form>

@section Scripts {
    <script>
        function closeMessage() {
            $("#dialog").remove();
        }
    </script>
}
