@model Imdb.Web.ViewModels.Watchlists.FullWatchlistViewModel
@{
    ViewData["Title"] = "Your Watchlist";
}

<h1>@ViewData["Title"] </h1>
<div class="row">
    <div class="col col-md-8">
        @if (Model.Movies.Count() == 0)
        {
            <h3>Your watchlist is empty</h3>
            <a class="btn btn-success my-4" asp-area="" asp-controller="Movies" asp-action="All">Find movie</a>
            <hr />
        }
        else
        {
            @foreach (var movie in Model.Movies)
            {
                <div class="card">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-4"><img width="100%" height="191" src="@(GlobalConstants.BaseDeliveryUrl + movie.MovieGeneralImageUrl)" sizes="(max-width: 660px) 100vw, 660px"></div>
                        <div class="col-12 col-md-8">
                            <h3>@movie.MovieTitle</h3>
                            @if (movie.Rating == null)
                            {
                                movie.Rating = "0";
                            }
                            <p>Rating : @movie.Rating/10<i class="fas fa-star"></i></p>
                            @if (movie.MovieReleaseDate != null)
                            {
                                <p>Release date: @movie.MovieReleaseDate.Value.ToShortDateString()<i class="fas fa-calendar-alt"></i></p>
                            }
                            else
                            {
                                <p>Release date: Not announced</p>
                            }
                            <a class="btn btn-primary my-3" asp-area="" asp-controller="Movies" asp-action="ById" asp-route-id="@movie.MovieId">View</a>
                            <a class="btn btn-danger my-3" asp-area="User" asp-controller="Watchlists" asp-action="Remove" asp-route-userId="@Model.Id" asp-route-movieId="@movie.MovieId">Remove</a>
                        </div>
                    </div>
                </div>
                <hr />
            }
        }
    </div>
    <div class="col col-md-4">
        <vc:recommended></vc:recommended>
    </div>
</div>

<nav>
    <ul class="pagination">
        @if (this.Model.CurrentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link"
                   asp-controller="Watchlists"
                   asp-action="All"
                   asp-route-userId="@Model.Id"
                   asp-route-page="@(Model.CurrentPage - 1)">Previous</a>
            </li>
        }

        @for (int i = 1; i <= Model.PageCount; i++)
        {
            var active = i == this.Model.CurrentPage ? "active" : string.Empty;
            <li class="page-item @active">
                <a class="page-link"
                   asp-controller="Watchlists"
                   asp-action="All"
                   asp-route-userId="@Model.Id"
                   asp-route-page="@i">@i</a>
            </li>
        }

        @if (this.Model.CurrentPage == this.Model.PageCount)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link"
                   asp-controller="Watchlists"
                   asp-action="All"
                   asp-route-userId="@Model.Id"
                   asp-route-page="@(Model.CurrentPage + 1)">Next</a>
            </li>
        }
    </ul>
</nav>
