@using Imdb.Common
@model Imdb.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
    var userId = this.User.GetId();
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
</div>

<div class="text-center">
    <h3 class="display-4">Top Movies</h3>
</div>
<div class="text-center row">
    @foreach (var movie in Model.TopMovies)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@(GlobalConstants.ReducedBaseDeliveryImageUrl+movie.GeneralImageUrl)" width="300" height="200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@movie.Title</h5>
                    <p>Rated : @movie.Rating/10<i class="fas fa-star"></i></p>
                    <p class="card-text">@movie.ShortDescription</p>
                    <a asp-controller="Movies" asp-action="ById" asp-route-id="@movie.Id" class="btn btn-primary">View Movie</a>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-outline-warning" asp-area="User" asp-controller="Watchlists" asp-action="Add" asp-route-userId="@userId" asp-route-movieId="@movie.Id"><i class="fas fa-star">Add to watchlist</i></a>
                    }
                </div>
            </div>
        </div>
    }
</div>
<hr />

<div class="text-center">
    <h3 class="display-4">Born Today</h3>
</div>
<div class="text-center row">
    @foreach (var actor in Model.BornToday)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@(GlobalConstants.ReducedBaseDeliveryImageUrl+actor.ImageUrl)" width="300" height="200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@(actor.FirstName+" "+actor.LastName)</h5>
                    <p class="card-text">@actor.Born.Value.ToShortDateString()</p>
                    <a asp-controller="Actors" asp-action="ById" asp-route-id="@actor.Id" class="btn btn-primary">View Actor</a>
                </div>
            </div>
        </div>
    }
</div>